@import '../../../styles/variables.scss';

.tableData {
  font-family: "'Poppins', sans-serif";
  color: "#333333";
  text-transform: "uppercase";
  font-size: "1rem";
  letter-spacing: "1px";
  padding: "1rem 0 .4rem 1rem";
  border-bottom: "1px solid #b2b2b2";
}