//colors
$purple: #462446;
$pink: #b05f6d;
$orange: #eb6b56;
$yellow: #ffc153;
$mint: #b3c5bd;
$gray: #8e8e8e;
$lightBlack: #555;
$black: #333;
$white: #f8f8f8;
//fonts
$poppins: 'Poppins', sans-serif;
$playfair: 'Playfair Display', serif;
//weight
$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;
$blackBold: 900;
//size
$extraSmallSize: .85rem;
$smallSize: 1rem;
$regularSize: 1.2rem;
$mediumSize: 2rem;
$largeSize: 3rem;
$extraLargeSize: 4rem;
//box shadow
$boxShadow: rgba(0, 0, 0, 0.2) 0px 1px 20px 0px;